@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <br />
    <p>Witamy w przychodni Medica Sp.Z.o.o.</p>
    <p>Zarejestruj się już dziś</p>

</div>
<br />
<br />

 <div class="centernbtn">  
        <ul class="ulbtn">
             @{
                  if (User.IsInRole(Constans.AdministratorRole))
                            {
       <li> <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
                            }
          <li> <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
           <li>  <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
        <li>   <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
       <li>  <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
     <li>  <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
   <li>  <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
 <li>  <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
  <li> <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
 <li>  <a class="btn btn-primary  text-center" asp-area="" asp-controller="Patient" asp-action="AddPatient">Umów wizytę</a></li>
    }
  </ul>
</div>
